<tree-root 
          [state]="state" 
          [options]="options" 
          [focused]="true" 
          [nodes]="nodes" 
          (moveNode)="onMoveNode($event)"
          #tree
></tree-root>

<mat-card style="margin: 3%">
  <div style="text-align: center">
    <mat-card-title> Patenet Generator </mat-card-title>
    <mat-card-subtitle>Generate Provisional Patent</mat-card-subtitle>
    <mat-card-content> Click on the ADD button to be prompted through adding an element. Click on DONE when all elements are entered.</mat-card-content>
  </div>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button color='primary' (click)="addElement()">Add Element</button>
    <button mat-raised-button color='primary' (click)="done()">Done</button>
  </mat-card-actions>
</mat-card>
<mat-card style="margin: 3%">
  <div style="text-align: center">
    <mat-card-title> Actions and Sub Actions </mat-card-title>
  </div>
  <mat-card-content>


      <!-- <div class="menu-box">
          <ul class="menu-list sortable">
            <li class="submenu-list" *ngFor="let action of Datas" id="{{action.id}}" >
              <a>
                {{action.title}}
                <i style="cursor: pointer;margin-left: 20px;" class="material-icons" (click)="addSubElement(action.id,action.order)">
                  add
                </i>
              </a>
              <app-sub-module *ngIf="action.subElement.length" [Datas]="action" [parentId]="parentId"></app-sub-module>
            </li>
            </ul>
        </div> -->
    
        <!-- <div class="menu-box">
          <ul class="menu-list sortable" id="pageContent"></ul>
        </div> -->
        
  </mat-card-content>

</mat-card>

