<mat-card style="margin: 3%">
    <div style="text-align: center">
    <mat-card-title> Patenet Generator </mat-card-title>
    <mat-card-subtitle>Generate Provisional Patent</mat-card-subtitle>
    <mat-card-content>Lorem ipsum dolor sit amet, eos et solum corrumpit definitiones, iudico iisque eam ea. Numquam repudiare consequat id quo, cum cu molestie percipitur. Quo verterem adolescens no, aliquid maluisset mei ex, sanctus ancillae vis ut. Per nostro nostrud percipitur in, maiorum fastidii ut quo, id viderer aperiri fierent cum. Est habeo mutat reque ne. Eleifend pertinacia ut sit.</mat-card-content>
    </div>
    <mat-card-actions style="text-align: center">
      <button mat-raised-button color="primary"  (click)="newPatent()">New Provisional Patent</button>
    
    </mat-card-actions>
  </mat-card>
  <mat-card style="margin: 3%">
    <div style="text-align: center">
    <mat-card-title>  Patent List </mat-card-title>
    <mat-card-subtitle>View Edit and Export your Patent</mat-card-subtitle>
    <mat-card-content>
     <table style="width: 100%">
        <tr>
          <th>Title of invention</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let db of data , let i = index">
        <td>{{db.inventionTitle}}</td>
        <td>
          <a  color="primary"  (click)="editPatent(i)"><i class="material-icons">
            border_color
            </i></a>
          
          <a  color="primary"  (click)="exportPatent(i)"> <i class="material-icons">
            save_alt
            </i></a>

        </td>
      </tr>
      </table> 
    </mat-card-content>
    </div>
    
  </mat-card>
 